<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sistem PKWT Angkasa Pura</title>
    <link rel="shortcut icon" type="images/x-icon" href="https://ap1.co.id/frontend/images/material/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/tab.css">
    <link rel="stylesheet" href="/assets/search.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/tab.js"></script>
</head>

<body>
    <%- include('./partials/header') %>
    <ul class="nav navbar-nav">
            <li><a href="/datapekerja">Data Pekerja</a></li>
            <li><a href="/manajemenkontrak">Manajemen Kontrak</a></li>
            <li><a href="/cuti">Cuti</a></li>
            <li><a href="/sppd">SPPD (Perjalanan Dinas)</a></li>
            <li class="active"><a href="/gajipegawai">Gaji</a></li>
          </ul>
    <%- include('./partials/footer') %>
    <div class="container" style="margin-left:25%;margin-right:25%">
    <h3 style="align:middle">Data Tidak Mencukupi</h3>
    <div class="text-right" style="margin-right:20px">
                <a role="button" class="btn btn-danger" href="/gajipegawai">Kembali</a>
    </div>
    </div>
    </body>
