<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sistem PKWT Angkasa Pura</title>
    <link rel="shortcut icon" type="images/x-icon" href="https://ap1.co.id/frontend/images/material/favicon.ico">  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/html2pdf.bundle.min.js"></script>
  </head>

<body>
    <style>
        .form-horizontal .control-label {
            text-align: left;
        }
    </style>
    <div id="pdfcuti">
        <div class="container" style="margin-top: 20px">
            <h3 class="text-center" style="margin-right: 358px">Cuti Pekerja PKWT</h3>
            <br />
            <form class="form-horizontal" style="margin-left:20px">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="ID" class="control-label col-sm-5 ">Nama</label>
                        <div class="form-control-static col-sm-7">
                            <input type="text" class="classname" value="<%= nama %>" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <img src="/public/images/<%= foto %>" class="img-rounded" alt="Foto Diri" style="height:189px;width:142px">
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            <form class="form-horizontal" style="margin-left:20px;margin-right:432px">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tanggal Mulai</th>
                            <th>Tanggal Selesai</th>
                            <th>Jumlah Hari</th>
                            <th>Sisa Cuti</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <%- table %>
                </table>
            </form>
            <style>
                .table {
                    margin-left: 15px;
                }
            </style>
        </div>
    </div>
    <div class="container">
        <div class="text-right" style="margin-bottom:20px">
            <a role="button" class="btn btn-default" href="/cuti">Kembali</a>
            <input onclick="generatePDF()" type="button" class="btn btn-success" id="create_pdf" value="Generate PDF">
            <a role="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalHapus">Hapus</a>
        </div>
        <div class="modal fade" id="ModalHapus" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><b>Peringatan</b></h4>
                    </div>
                    <div class="modal-body">
                        <p>Hapus data yang dipilih ?</p>
                    </div>
                    <form method="post" action="/cuti/<%= nama %>">
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit" value="Hapus">Hapus</button>
                        <a role="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        input[readonly].classname {
            background-color: transparent;
            border: 0;
            font-size: 1em;
        }
    </style>

    <script>
        function generatePDF() {
            // Choose the element that our invoice is rendered in.
            const element = document.getElementById("pdfcuti");
            // Choose the element and save the PDF for our user.
            html2pdf()
                .set({ html2canvas: { scale: 10 } })
                .from(element)
                .save();
        }
        function submitButton() {
        alert("Data berhasil dihapus!");
    }
    </script>